#more-tb th {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

#more-tb td {
    text-align: left;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: darkgray;
}

#more-tb td {
    vertical-align: middle;
    text-align: center;
}

#more-tb td span p {
    text-align: left;
}